# Python Bytecode
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
env/
ENV/
.venv/

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System Files
.DS_Store
Thumbs.db

# Data files (too large for GitHub)
data/raw/*
data/processed/*

# Allow keeping folder structure


# Ignore all big data file formats
*.csv
*.pkl
*.zip
*.feather
*.parquet

# Logs
*.log

# Others
*.sqlite
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/predictions/test_predictions_with_labels.csv
!src/models/lightgbm_model.pkl
!src/models/best_threshold.txt
!data/features/train_selected.pkl
!data/features/test_selected.pkl
!data/processed/test_final_mock.pkl
!data/processed/train_final_mock.pkl